@charset "UTF-8";

#cabecera{
  background: pink;
  box-shadow: #EAE3E9 5px 5px 3px;
}
div.logo{
  float: left;
  padding-top: 5px;
  padding-left: 5px;
}
div.navegacion{
  background-color: pink;
  padding: 5px;
  box-shadow: #EAE3E9 5px 5px 3px;
}
ul li{
  display: inline-block;
  width: 14%;
  text-align: center;
  font-family:candara,arial,sans-serif;
}
ul li a{
  color: black;
  text-decoration: none;
  padding:10px;
}
ul li a:hover{
  background-color: #ddab13;
}
 h2{
  text-align: center;
  font-family: cursive,fantasy,sans-serif;
  color: black;
}
.menu{
  background-color: pink;
  padding-top: 50px;
  margin-top: 40PX;
  float: left;
  height: 600px;
/*  padding:15px;*/
  box-shadow: #EAE3E9 5px 5px 3px;
  font-family: candara,fantasy,sans-serif;
}

.menu a{
  text-decoration: none;
  color: black;
}
div.contenido{
 margin-left:400px;
 margin-right: 400px;
 border: 10px solid pink;
 padding: 15px;
 font-family: candara,fantasy,arial;
}
div.contenido2{
 margin-left: 300px;
 margin-right: 300px;
}
div.campo{
  margin-bottom: 20px;
}
input, textarea{
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}
input[type="submit"]{
  background-color: pink;
  border: none;
  font-family: candara,fantasy,arial;
  font-size:14px;
  width: 30%;
}

.radiobtn {
display: none;
}

.buttons {
margin-left:40px;
padding-top: 10px;
}
.buttons li {
display: block;
}

.buttons li label{
padding-left: 30px;
position: relative;
left: -25px;
}
.volver{
  text-decoration: none;

}
@media screen and (max-width:800px) {
  div.contenido {
      margin-left: 0;
      margin-right: 0px;
      border: 10px solid pink;
      padding: 15px;
      font-family: candara,fantasy,arial;
}
}
@media screen and (max-width:800px) {
  .navegacion ul li{
    width: 24%;
    padding-bottom:5%;
    padding-top: 5%;
  }
.navegacion ul li a{
    color: black;
    text-decoration: none;
    padding:8px;
  }
  .navegacion ul{
    padding: 0%;
  }
}
